.noPadding{
	padding:0px !important;
}
#colorpicker{
	display: none;
}

#canvasContainer{
	height : 402px;
	
}

canvas{
	border:1px solid #000000;
	border-width: 2px;
	position: absolute; 
	/*top: 200px; */
}

video{
	width: 280px;
	height:200px;
}

#board{
	z-index: 1;
}
#board2{
	z-index: 0;
}
#board3{
	z-index: -1;
}
